/* ━━ RTL OVERRIDES ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
body.rtl{direction:rtl}
body.rtl #drawer{left:auto;right:0;border-right:none;border-left:1px solid var(--bdr);transform:translateX(105%)}
body.rtl #drawer.on{transform:translateX(0)}
body.rtl .detail-panel{right:auto;left:-100%;border-left:none;border-right:1px solid var(--bdr);transition:left .3s cubic-bezier(.4,0,.2,1)}
body.rtl .detail-panel.open{left:0}
body.rtl .sdots{flex-direction:row-reverse}
body.rtl .chkitem{border-right:none;border-left:1px solid rgba(255,255,255,.03)}
body.rtl .chkitem:nth-child(2n){border-left:none}
body.rtl .tool-row-cmd,body.rtl .payload-val,body.rtl .cvss-vector,
body.rtl .code-block,body.rtl .cmdpre pre,body.rtl .report-preview,
body.rtl .scope-item-text{direction:ltr;text-align:left;unicode-bidi:plaintext}
body.rtl .timer-clock,body.rtl input[type="date"]{direction:ltr}
body.rtl #searchinp,body.rtl .field-inp,body.rtl .field-ta,body.rtl textarea,body.rtl .mitre-search{text-align:right}
body.rtl .badge,body.rtl .tool-free,body.rtl .flagkey{direction:ltr}
